header {
  height: 76px;
  background: #fafafa;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-names {
  display: flex;
  gap: 40px;
  width: 301px;
  justify-content: flex-start;
}

.nav-names > h1 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

.nav-names > h1:hover {
  color: rgb(77, 73, 73);
  cursor: pointer;
}

.nav-names img {
  width: 25px;
  height: 28px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  width: 110px;
  height: 110px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 301px;
  justify-content: flex-end;
}

.search-icon {
  width: 28px;
  height: 28px;
}

.user-icon {
  width: 24px;
  height: 24px;
}

.bag-icon {
  width: 22px;
  height: 22px;
}

.title-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  width: 589px;
}

.title h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 95%;
  text-transform: uppercase;
  color: var(--color-darkGray);
}

.new-drops-button button {
  display: flex;
  height: 48px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--color-blue);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.container-category-box {
  height: 500px;
  background: var(--color-darkGray);
  margin: 50px 0 50px 0;
  overflow: hidden;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 55px 60px 55px 60px;
}

.title-con h2 {
  color: var(--color-white);
  font-size: 64px;
  font-weight: 600;
  line-height: 95%;
  text-transform: uppercase;
}

.arrow-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow-buttons button {
  display: flex;
  height: 40px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #e7e7e3;
}

button img {
  width: 16px;
  height: 16px;
}

.category-card-component {
  display: flex;
  padding: 0px 64px;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  gap: 28px;
  flex: 1 0 0;
  border-radius: 64px 0px 0px 0px;
  background: var(--color-white);
}

.first-card-image, .second-card-image, .third-card-image{
  position: relative;
  width: 600px;
}

.first-card-text, .second-card-text, .third-card-text{
  position: absolute;
  left: 48px;
  bottom: 20px;
}

.first-card-text h2, .second-card-text h2, .third-card-text h2{
  color: var(--color-darkGray);
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  .names,
  .user-icon,
  .search-icon {
    display: none;
  }

  section {
    margin: 20px 8px 20px;
  }

  header {
    padding: 16px;
    height: 55px;
  }

  .logo img {
    width: 70px;
    height: 70px;
  }

  .title-button {
    align-items: center;
  }

  .title {
    width: 172px;
  }

  .title h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-darkGray);
    text-transform: none;
  }

  .new-drops-button button {
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) {
  .nav-names img {
    display: none;
  }
}
