header {
  height: 76px;
  background: #fafafa;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-names {
  display: flex;
  gap: 40px;
  width: 301px;
  justify-content: flex-start;
}

.nav-names > h1 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

.nav-names > h1:hover {
  color: rgb(77, 73, 73);
  cursor: pointer;
}

.nav-names img {
  width: 25px;
  height: 28px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  width: 110px;
  height: 110px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 301px;
  justify-content: flex-end;
}

.search-icon {
  width: 28px;
  height: 28px;
}

.user-icon {
  width: 24px;
  height: 24px;
}

.bag-icon {
  width: 22px;
  height: 22px;
}

.title-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  width: 589px;
}

.new-drops-button button {
  display: flex;
  height: 48px;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--color-blue);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.title h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 95%;
  text-transform: uppercase;
  color: var(--color-darkGray);
}

.arrow-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow-buttons button {
  display: flex;
  height: 40px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: #e7e7e3;
}

button img {
  width: 16px;
  height: 16px;
}

.categories-container {
  background: var(--color-darkGray);
  display: flex;
  flex-direction: column;
}

.categories-box {
  background-color: #f6f6f6;
  margin-left: 70px;
  border-radius: 64px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.title-box {
  margin: 30px 60px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-con h2 {
  color: var(--color-white);
  font-size: 64px;
  font-weight: 600;
  line-height: 95%;
  text-transform: uppercase;
}

.first-card-image,
.second-card-image,
.third-card-image {
  position: relative;
  margin-left: 60px;
}

.seemore-button{
  position: absolute;
  background: var(--color-darkGray);
  bottom: 16px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.seemore-button img{
  height: 32px;
  width: 32px;
}

.first-card-text,
.second-card-text,
.third-card-text {
  position: absolute;
  bottom: 10px;
}

.first-card-text h2,
.second-card-text h2,
.third-card-text h2 {
  color: var(--color-darkGray);
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Product listing Styles */
.ProductList-conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.product-details {
  margin-bottom: 20px;
}

.product-details img {
  border-radius: 28px;
}

.product-details-title {
  color: var(--color-darkGray);
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
}
.product-details-price {
  text-align: center;
  margin-bottom: 8px;
  color: var(--color-darkGray);
  font-weight: 600;
  font-size: 17px;
}
.addToCart-btn {
  background-color: var(--color-darkGray);
  color: white;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}
.addToCart-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-1px);
}
@media screen and (max-width: 600px) {
  .names,
  .user-icon,
  .search-icon {
    display: none;
  }

  section {
    margin: 20px 8px 20px;
  }

  header {
    padding: 16px;
    height: 55px;
  }

  .logo img {
    width: 70px;
    height: 70px;
  }

  .title-button {
    align-items: center;
  }

  .title {
    width: 200px;
  }

  .title h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-darkGray);
  }

  .new-drops-button button {
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
  }

  .title-box {
    margin: 30px 8px 30px;
  }

  .title-con h2 {
    font-size: 40px;
  }

  .arrow-buttons button {
    height: 30px;
  }

  button img {
    width: 12px;
    height: 12px;
  }

  .categories-box {
    margin-left: 55px;
    border-radius: 34px 0px 0px 0px;
    grid-template-columns: 1fr;
    background: #f6f6f6;
    gap: 5px;
    position: relative;
  }

  .first-card-image,
  .second-card-image,
  .third-card-image {
    margin-left: 50px;
  }

  .first-card-text,
  .second-card-text,
  .third-card-text {
    bottom: 20px;
  }


  .first-card-text h2,
  .second-card-text h2,
  .third-card-text h2 {
    font-size: 28px;
  }

  .ProductList-conatiner {
    grid-template-columns: 1fr 1fr;
  }

  .product-details-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 601px) {
  .nav-names img {
    display: none;
  }
}
