header {
  height: 76px;
  background: #fafafa;
  padding: 32px;
  border-radius: 24px;
  margin: 32px 60px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-names {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}

.nav-names > h1 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  gap: 40px;
}

.nav-names > h1:hover {
  color: rgb(77, 73, 73);
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo > img {
  width: 128px;
  height: 32px;
  flex-shrink: 0;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.search-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.user-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.cart-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

@media screen and (max-width: 600px) {
  .nav-names,
  .user-icon,
  .search-icon {
    display: none;
  }
}
